body {
    background: linear-gradient(
        90deg,
        darkorange,
        black
    );
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    border: 2px solid black;
    width: 10%;
    text-align: center;
}

