body {
    display: flex;
    background: linear-gradient(
        90deg,
        darkorange,
        black
    );
}

nav {
    margin: 8px;
    padding-right: 12px;
    border: 2px solid black;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
    padding: 12px;
    margin: 4px;
}

